
@font-face {
  font-family: "maquina";
  src: url("fuente/Maquina.ttf")format("truetype");
 
}
html body{
    font-family: "maquina" !important;
    color: white;
    background-color: black;
}
.carousel-item{
    
  max-height: 60vh;
     
}

 body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-image: url("Imagenes/fondoq.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
 
.carousel-item img {
  width: 100%;
  height: 60vh; 
  object-fit: cover; 
  object-position: center; 
}

.col, .card{
  border: 2px #000000 !important;
}

.card{
  min-height: 45vh;
}

.card-img-top {
  height: 500px;   
  object-fit: cover;  
  object-position: center; 
  border-radius: 10px;  
}
.card .card-body{
background-color: #212529;
color: white;
}

.card-img-targeta {
  width: 100%;
  min-height: 30vh;
}


.card:hover{
  transform: scale(1.01);
  transition: transform 0.5s;
}

.img-logo{
  width: 80px;
}

.quienes-somos{
  margin: 10%;
  text-align: center;
  background-color: black;
  padding: 12px;
  /* border-radius: 20px;
  box-shadow: 3px 9px 22px -1px #6f120b; */
}

.quienes-somos h1{
  color: #6f120b;
  margin-bottom: 6%;
  font-size: 60px;
}

.quienes-somos h2{
   color: #6f120b;
  margin-bottom: 6%;
}

.quienes-somos:hover{
  transform: translateY(-0.5rem);
  transition: transform 0.5s ease;
}

.mision, .vision{
  display: flex;
  margin: 10%;
  text-align: center;
  padding: 12px;
  border-radius: 20px;
}

.mision-img, .mision-t, .vision-img, .vision-t{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mision-t h2, .vision-t h2{
  color: #6f120b;
  margin-bottom: 10%;
  font-size: 40px;
}

.mision-img img, .vision-img img{
  width: 80%;
}

.servicios{
  margin-top: 50px;
}

.servicios h1{
  text-align: center;
  color: #6f120b;
  font-size: 60px;
}

.servicios h2{
  text-align: center;
  margin-top: 50px;
  color: #6f120b;
}

.servicios p{
  text-align: center;
  margin-top: 40px;
}

.nuestros-servicios{
  margin-top: 100px;
  text-align: center;
  color: #6f120b;
  margin-bottom: 40px;
}

.lore h1{
  margin-top: 100px;
  text-align: center;
  color: #6f120b;
  margin-bottom: 40px;
}
.lore h2{
  margin-top: 100px;
  text-align: center;
  color: #6f120b;
  margin-bottom: 40px;
}

.cont-explo{
  display: flex;
}

.img-explo, .text-explo{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-explo img{
  width: 80%;
}

.contenedor-codigo {
  background-color: #1e1e1e; 
  color: #d4d4d4; 
  font-family: "Fira Code", monospace;
  margin-left: 2%;
  margin-right: 2%;
}
.base-datos {
  text-align: center;
  color: #6f120b;
  margin: 60px auto;
  width: 90%;
}

.base-datos h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.base-datos p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 30px;
}

.imagen-bd {
  width: 100%;
  max-width: 950px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
  display: block;
  margin: 0 auto;
}



pre {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
}

.contenedor-tarjetas{
  margin-bottom: 20px;
}

.footerbcd{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
