
@font-face {
  font-family: "maquina";
  src: url("fuente/Maquina.ttf")format("truetype");
 
}
html body{
    font-family: "maquina" !important;
    color: white;
    background-color: black;
}
.carousel-item{
    
  max-height: 60vh;
     
}

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("Imagenes/fondoq.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 */
.carousel-item img {
  width: 100%;
  height: 60vh; 
  object-fit: cover; 
  object-position: center; 
}


.card-img-top {
  height: 500px;   
  object-fit: cover;  
  object-position: center; 
  border-radius: 10px;  
}
.card .card-body{
background-color: #212529;
color: white;
}

.card .img-targeta {
  width: 100%;
}

.img-logo{
  width: 80px;
}

.quienes-somos{
  margin: 10%;
  text-align: center;
  background-color: black;
  padding: 12px;
  /* border-radius: 20px;
  box-shadow: 3px 9px 22px -1px #6f120b; */
}

.quienes-somos h1{
  color: #6f120b;
  margin-bottom: 6%;
  font-size: 60px;
}

.quienes-somos:hover{
  transform: translateY(-0.5rem);
  transition: transform 0.5s ease;
}

.mision, .vision{
  display: flex;
  margin: 10%;
  text-align: center;
  padding: 12px;
  border-radius: 20px;
}

.mision-img, .mision-t, .vision-img, .vision-t{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mision-t h2, .vision-t h2{
  color: #6f120b;
  margin-bottom: 10%;
  font-size: 40px;
}

.mision-img img, .vision-img img{
  width: 80%;
}


.contenedor-codigo {
  background-color: #1e1e1e; 
  color: #d4d4d4; 
  font-family: "Fira Code", monospace;
  margin-left: 2%;
  margin-right: 2%;
}

pre {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
}

.footerbcd{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
